pypdf
pymupdf
ipykernel
python-dotenv
beautifulsoup4
streamlit
arxiv
sentence_transformers
chromadb
faiss-cpu
wikipedia
sse-starlette
uvicorn
fastapi
pydantic
langserve
langchain
langchain-community
langchain-text-splitters
langchain-openai
langchain-huggingface
langchain-chroma
langchain-groq
langchain-core